@font-face {
  font-family: "roboto";
  src: url(./assets/font/RobotoMono-Regular.ttf);
}

:root {
  --color-primary-active: #55450c;
  --color-secondary-active: #ddcf88;
  --color-tertiary-active: #fdedc2;
  --font-heading: "roboto";
}

html {
  box-sizing: border-box;
  font-family: var(--font-heading);
  font-weight: normal;
}

body > div {
  padding: 1em;
  margin: 0;
  border: 0.5em solid var(--color-primary-active);
  font-family: var(--font-heading);
}
