.card {
  position: relative;
  background-color: var(--color-secondary-active);
  border-radius: 8px;
  padding: 1.5rem;
  transition: transform 0.2s;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30em;
  margin: 0;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.card:hover {
  transform: scale(1.02);
}

.bookPicture {
  width: 5rem;
  height: 7rem;
  object-fit: cover;
  margin: auto;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 1rem 0 0;
  color: #1f2937;
}

.author {
  font-size: 0.875rem;
  color: #4b5563;
  font-weight: 500;
}
